/* fonts style */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

/* font-family: 'Teko', sans-serif; */

/* common styles */
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Teko', sans-serif;
    background-color: #FFEDED;

}

.container{
    width: 1000px;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
}

.main-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* stay focus styles */
.stay-focus{
    background-image: url(./images/shapes/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.focus{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3em;
    margin: 0px 20px 20px 20px;
    justify-items: center;
    align-items: center;
}

.focus-info h1{
    font-size: 40px;

}
.focus-info .section-color-title{
    color: #38CC77;
    margin-top: -30px;
}

.focus-info p{
    font-size: 20px;
    text-align: justify;
}

.focus-info button{
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #00D84A;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.focus-info button:hover{
   
    color: #00D84A;
    background-color: #fff;
    border-color: #00D84A;
    transition: .3s linear;
}

.focus-img img{
    width: 300px;
    height: auto;
}


/* My Mission styles */
.mission-section h1{
    text-align: center;
    font-size: 40px;

}
.mission-section span{
    color:#38CC77;
}

.my-mission{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    margin: 0 12px;
}

.mission{
    width: 300px;
    padding: 5px;
    border: 1px solid #66AD47;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.mission:hover{
    box-shadow: 10px 10px 30px gray;
}
.mission img{
    width: 100%;
    margin: 0 25px;
}

.mission .mission-title{
    text-align: center;
    margin: 0;
    font-size: 25px;
}
.mission p{
    font-size: 20px;
    text-align: justify;
}

/* development styles */
.development{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px;
}
.dev-img img{
    width: 100%;
    height: 400px;
}
.dev-info{
    width: 400px;
    margin: 0 auto;
}
.dev-info h1{
    font-size: 40px;
    margin: 50px 0;
}
.dev-info p{
    font-size: 20px;
    text-align: justify;
}

.dev-info button{
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #00D84A;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.dev-info button:hover{
   
    color: #00D84A;
    background-color: #fff;
    border-color: #00D84A;
    transition: .3s linear;
}

/* Telemedicine styles */
.tele-app .app-title{
    font-size: 40px;
    text-align: center;
}
.tele-app span{
    color: #38CC77;
}

/* Footer styles */
footer{
    background-color: black;
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}
footer h1{
    font-size: 40px;
}
footer p{
    font-size: 20px;
}

/* Media query */
/* Mobile device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .focus, .my-mission, .development{
        grid-template-columns: repeat(1,1fr);
    }
    .focus h1{
        text-align: center;
    }
   
    .my-mission{
        margin: 0 40px;
    }
    .dev-img img{
        width: 90%;
        height: 90%;
    }
    .dev-info{
        width: 100%;
    }
    .dev-info{
        margin-bottom: 10px;
    }
}
/* Tabler device */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .focus, .my-mission, .development{
        grid-template-columns: repeat(1,1fr);
    }
    .focus h1{
        font-size: 50px;
        text-align: center;
    }
    .focus-info p{
        font-size: 30px;
    }
    
    .mission{
        width: 100%;
    }
    .mission .mission-title{
        font-size: 65px;
    }
    .mission p{
        font-size: 30px;
        padding: 0 10px;
    }

    .dev-img img{
        width: 100%;
        height: 100%;
    }
    .dev-info{
        width: 100%;
    }
    .dev-info h1{
        font-size: 60px;
        text-align: center;
    }
    .dev-info p{
        font-size: 30px;
        padding: 0 10px;
    }
    .dev-info button{
       
        font-size: 18px;
       
    }
    .dev-info{
        margin-bottom: 10px;
    }
    .tele-app .app-title{
        font-size: 60px;
        text-align: center;
    }
}